extends ../_layouts/main

block prepend head
    - var title = post.title;
    - var sharingOgType = 'article'

block append head
    meta(property='og:description' content=post.excerpt)
    meta(property='og:url' content=postRootUrl(post))
    meta(property='description' content=post.excerpt)
    meta(property='keywords' content=post.tags.join(','))

block content
    +header
    +personal-board-small
    article.post-single
        +post-info(post)
        h1.post-single__title=post.title
        .post-single__content !{post.body}
